@charset "utf-8";

body{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 95px;
}
form{
    background-color: lightblue;
    margin: auto;
    border: 2px solid rgb(205, 202, 202);
    border-radius:15px ;
    padding: 5px; 
    width: 20%;
    height: 25%;
}
h1{
    text-align: center;
    color: blue;
}
.teste{
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   text-align: left;
}
#submit{
    border-radius: 5px;
    text-align: left;
    color: rgb(25, 142, 245);
}
input{
    border-radius: 4px;
    border: 1px solid rgb(208, 208, 208);
}
div:hover > p{
    display:block ;
    color:rgb(130, 2, 250);
    background-color: rgb(209, 164, 251);
    width: 200px;}
#submit:hover{
    color: black;
}
